body{
    background-color: #DCCB9C;
}
.borderWhite{
    border: solid 3px;
    border-color: white;
}

.laCard {

    height: 100%;
}

p.card-text-index{
    height: 50px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

}
.lapagination.nav{
    display: flex;
    justify-content: flex-end;
}
.comments{
    border :solid 3px;
    border-color: white;
    padding: 5px;
}
.container{
    background-color: #bdc3c7;
    border-radius: 5px;

}
.bootsrapIndex{
    padding: 20px;
}
.img_card_detail_admin{
    max-height: 250px;
}
.spanPanier{
    margin-right: 20px;
}
.img_index{
    height: 280px;
}
.h1-admins{
    margin-left: 10%;
}
.card_up{
    margin-top: 5%;
}
.connexion_user{
    width: 20%;
    position: absolute;
    margin-top: 10px;
    margin-left: 15px;
}
.h1_div{
    background-color: #CF9825;
    margin-top: -25px;
    height: 200px;
}
.btn-primary{
    background-color: #DCCB9C !important;
    border-color: #DCCB9C !important;
}
#scroll_to_top {
    position: fixed;
    width: 50px;
    height: 25px;
    bottom: 50px;
    right: 30px;
  }
  #scroll_to_top img {
    width: 50px;
  }